<ion-view view-title="Home">
  <ion-content id="dash">

    <button ng-click='addMsg()' class="button button-light">
      {{result}}
    </button>

    <div class="row" >
      <div class="col">
        <keypad-button type='a' ng-click='sendClickMsg()'  on-release='sendReleaseMsg()'></keypad-button>
      </div>

      <div class="col">
        <keypad-button type='b' ng-click='sendClickMsg()'  on-release='sendReleaseMsg()'></keypad-button>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <keypad-button type='c' ng-click='sendClickMsg()'  on-release='sendReleaseMsg()'></keypad-button>
      </div>
      <div class="col">
        <keypad-button type='d' ng-click='sendClickMsg()'  on-release='sendReleaseMsg()'></keypad-button>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <keypad-button type='e' ng-click='sendClickMsg()'  on-release='sendReleaseMsg()'></keypad-button>
      </div>
      <div class="col">
        <keypad-button type='f' ng-click='sendClickMsg()'  on-release='sendReleaseMsg()'></keypad-button>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <keypad-button type='g' ng-click='sendClickMsg()'  on-release='sendReleaseMsg()'></keypad-button>
      </div>
      <div class="col">
        <keypad-button type='h' ng-click='sendClickMsg()'  on-release='sendReleaseMsg()'></keypad-button>
      </div>
    </div>
  </ion-content>
</ion-view>
