<ion-view view-title="Home">
  <ion-content overflow-scroll="true" id="dash">
    <div class="row" >
      <div class="col">
        <keypad-button info="keypad[0].buttons[0]"></keypad-button>
      </div>
      <div class="col">
        <keypad-button info="keypad[0].buttons[1]"></keypad-button>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <keypad-button info="keypad[0].buttons[2]"></keypad-button>
      </div>
      <div class="col">
        <keypad-button info="keypad[0].buttons[3]"></keypad-button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button ng-click='addMsg()' class="button_custom red">
          <div class="row row-center">
            <div class="col col-center lineh03">connect</div>
          </div>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
