<ion-view view-title="Home">
    <ion-content id="diagnosis" overflow-scroll=true>
        

        <div class="content padding">
            
            <div class="buttons-gp">
                <button ng-click="zQuery('ZPA2')" class="button button-outline button-positive">
                    Kpd2
                </button>
                <button ng-click="zQuery('ZPA3')" class="button button-outline button-positive">
                    Kpd3
                </button>
                <button ng-click="zQuery('ZPA4')" class="button button-outline button-positive">
                    Kpd4
                </button>
                <button ng-click="zQuery('ZPA5')" class="button button-outline button-positive">
                    Kpd5
                </button>
            </div>
            <div class="buttons-gp padding-vertical">
                <button ng-click="zQuery('ZPA6')" class="button button-outline button-positive">
                    Kpd6
                </button>
                <button ng-click="zQuery('ZPA7')" class="button button-outline button-positive">
                    Kpd7
                </button>
                <button ng-click="zQuery('ZPA8')" class="button button-outline button-positive">
                    Kpd8
                </button>
                <button ng-click="zQuery('ZPA9')" class="button button-outline button-positive">
                    Kpd9
                </button>
            </div>
            <div id="innerText">
                <p>Hello!{{ diagnosisText[0] }}</p>
            </div>
        </div>
        <div class="bar bar-footer">
            <div>
                <button ng-click='addMsg()' ng-class="{'button-positive': WifiConnect, 'button-assertive': !WifiConnect}" class="button">
                  Connect{{ WifiConnect ? "ed" : "" }}
                </button>
                <button ng-click="zQuery('ZR')" class="button button-outline button-positive">
                    RST
                </button>
                <button ng-click="zQuery('Z?')" class="button button-outline button-positive">
                    Vers
                </button>
                <button ng-click="zQuery('ZS')" class="button button-outline button-positive">
                    Stat
                </button>
                <button ng-click="zQuery('ZL')" class="button button-outline button-positive">
                    Binp
                </button>
                <button ng-click="zQuery('ZV')" class="button button-outline button-positive">
                    Ainp
                </button>
                <button ng-click="zQuery('!S')" class="button button-outline button-positive">
                    Sleep
                </button>
            </div>
            
        </div>

    </ion-content>
</ion-view>
