<ion-view view-title="Keypad Config" id="diy-page">
    <ion-tabs class="tabs-dark tabs-top">
        <ion-tab title="Step 1">
            <div class="list">
                <ion-content id="step_1">
                    <a class="item item-icon-left" ng-click='configStepOne()'>
                        <i class="icon ion-email"></i>
                        Amount of Keypads
                        <span class="badge badge-assertive">
                            {{data.totalKeypad}}
                        </span>
                    </a>
                    <a class="item item-icon-left" ng-click='configStepTwoModify(keypadType.index)' ng-repeat="keypadType in keypadsTypes">
                        <i class="icon ion-email"></i>
                        The {{keypadType.name}} Keypad Type
                        <span class="badge badge-assertive">
                            {{keypadType.type}}
                        </span>
                    </a>
                     <button ng-click="reset()" class="button button-outline button-positive next-step-button">
                        Reset
                    </button>
                    <button ui-sref="app.dash" class="button button-outline button-positive next-step-button">
                        Next Step
                    </button>
                </ion-content>
            </div>
        </ion-tab>
        <!-- Step two -->
        <ion-tab title="Step 2">

        </ion-tab>
  </ion-tabs>
</ion-view>