<ion-view view-title="Keypad Config" id="diy-page">
    <ion-tabs class="tabs-dark tabs-top">
        <ion-tab title="Step 1">
            <div class="list">
                <ion-content id="step_1">
                    <a class="item item-icon-left" href="#" ng-click='configStepOne()'>
                        <i class="icon ion-email"></i>
                        How many keypads do you need?
                        <span class="badge badge-assertive">
                            {{totalKeypad}}
                        </span>
                    </a>
                    <a class="item item-icon-left" href="#" ng-click='configStepTwoModify(keypadType.index)' ng-repeat="keypadType in keypadsTypes">
                        <i class="icon ion-email"></i>
                        The {{keypadType.name}} Keypad Type
                        <span class="badge badge-assertive">
                            {{keypadType.type}}
                        </span>
                    </a>
                    <button ng-click="selectTabWithIndex(1)" class="button button-outline button-positive next-step-button">
                        Next Step
                    </button>
                </ion-content>
            </div>
        </ion-tab>
        <ion-tab title="Step 2">
             
        </ion-tab>
        <ion-tab title="Step 3">
             Hello tab 2!
        </ion-tab>
  </ion-tabs>
</ion-view>

<!-- step one -->
<script type="text/ng-template" id="stepOne">
    <h3>How many keypads do you need?</h3>
    <div class="list">
        <label class="item item-input item-select">
            <div class="input-label">
                Choose
            </div>
            <select ng-model='totalKeypad'>
                    <option value=1>1</option><option value=2>2</option>
                    <option value=3>3</option><option value=4>4</option>
                    <option value=5>5</option><option value=6>6</option>
                    <option value=7>7</option><option value=8>8</option>
                    <option value=9>9</option><option value=10>10</option>
            </select>
        </label>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Cancel</button>
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('totalKeypad', totalKeypad)">Confirm</button>
    </div
</script>

<!-- step two -->

<script type="text/ng-template" id="stepTwo">
    <h3>Set {{keypadName}} Keypad Type</h3>
    <div class="list">
        <label class="item item-input item-select">
            <div class="input-label">
                Choose
            </div>
            <select ng-model='keypadType'>
                    <option value=4>4 Buttons Keypad</option><option value='8r'>8 Round Buttons Keypad</option>
                    <option value='8p'>8 Pro Buttons Keypad</option><option value=10> 10 Buttons Keypad</option>
                    <option value=14> 14 Buttons Keypad</option>
            </select>

        </label>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Cancel</button>
        <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm('keypadType', keypadType)">Confirm</button>
    </div
</script>