<button class="button_custom blue">
  <div class="row row-center">
    <div class="col col-center lineh03">{{ info.name }}&nbsp;</div>
  </div>
</button>
<div ng-class="{visible: info.led[0]=='on' || info.led[0]=='blink', blink: info.led[0]=='blink'}" class="led eins">&nbsp;</div>
<div ng-class="{visible: info.led[1]=='on' || info.led[1]=='blink', blink: info.led[1]=='blink'}" class="led zwei">&nbsp;</div>
<div ng-class="{visible: info.led[2]=='on' || info.led[2]=='blink', blink: info.led[2]=='blink'}" class="led drei">&nbsp;</div>