<div class="button4">
    <div class="row">
      <div class="col">
        <keypad-button prefix="keypad.prefix" info="keypad.buttons[0]"></keypad-button>
      </div>
      <div class="col">
        <keypad-button prefix="keypad.prefix" info="keypad.buttons[1]"></keypad-button>
      </div>
      <div class="col">
        <keypad-button prefix="keypad.prefix" info="keypad.buttons[2]"></keypad-button>
      </div>
      <div class="col">
        <keypad-button prefix="keypad.prefix" info="keypad.buttons[3]"></keypad-button>
      </div>
    </div>
</div>