<div class="button14">
    <div class="row">
      <div class="col">
        <keypad-button prefix="keypad.prefix" info="keypad.buttons[0]"></keypad-button>
      </div>
      <div class="col">
        <keypad-button prefix="keypad.prefix" info="keypad.buttons[1]"></keypad-button>
      </div>
      <div class="col">
        <keypad-button prefix="keypad.prefix" info="keypad.buttons[2]"></keypad-button>
      </div>
      <div class="col">
        <keypad-button prefix="keypad.prefix" info="keypad.buttons[3]"></keypad-button>
      </div>
      <div class="col">
        <keypad-button prefix="keypad.prefix" info="keypad.buttons[4]"></keypad-button>
      </div>
      <div class="col">
        <keypad-button prefix="keypad.prefix" info="keypad.buttons[5]"></keypad-button>
      </div>
      <div class="col">
        <keypad-button prefix="keypad.prefix" info="keypad.buttons[6]"></keypad-button>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <keypad-button prefix="keypad.prefix" info="keypad.buttons[7]"></keypad-button>
      </div>
      <div class="col">
        <keypad-button prefix="keypad.prefix" info="keypad.buttons[8]"></keypad-button>
      </div>
      <div class="col">
        <keypad-button prefix="keypad.prefix" info="keypad.buttons[9]"></keypad-button>
      </div>
      <div class="col">
        <keypad-button prefix="keypad.prefix" info="keypad.buttons[10]"></keypad-button>
      </div>
      <div class="col">
        <keypad-button prefix="keypad.prefix" info="keypad.buttons[11]"></keypad-button>
      </div>
      <div class="col">
        <keypad-button prefix="keypad.prefix" info="keypad.buttons[12]"></keypad-button>
      </div>
      <div class="col">
        <keypad-button prefix="keypad.prefix" info="keypad.buttons[13]"></keypad-button>
      </div>
    </div>
</div>